.ext_tmp{
    width: 100%;
    height: 200px;
    background-color: #cccccc;
}

.extension{

    background-color: #212429;
    color: #ffffff;
    height: 220px;
;
}

#start_visits{
    margin-right: 15px;
}

.status:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1100ms infinite;
    animation: ellipsis steps(4,end) 1100ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

#overlay {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 10000;
    background-color: rgba(224,224,224, .8)

}

.modal {
    width:300px;
    margin: 200px auto;
    background-color: #212429;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    position: relative;
    color: #ffffff;
}
#close_modal{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: large;
    cursor: pointer;
}
.modal_header{
    padding-bottom: 10px;
    border-bottom: 1.5px solid #f7ce5c;
}

.modal_content{
    padding-top: 15px;
}
.modal_bottom{
    padding-top: 15px;
}

.modal_bottom button:first-child{
    margin-right: 15px;
}

.ext_content{
    border-bottom: 2px solid #f7ce5c;
    height: 140px;
    padding: 10px 30px 10px 30px;
}

.cont_left{
    width: 50%;
    height: 130px;
    background-color: #363636;
    margin-right: 40px;
    float: left;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
}

.cont_left h1{
    font-size: 30px;
    font-family: Andalus;
    height: 32px;
}

.cont_right{
    height: 130px;
    width: 40%;
    background-color: #363636;
    float: right;
    text-align: center;
}

.right_content{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.right_content h2{
    font-size: medium;
}

.btn_yes{
    margin-right: 10px;
}

.btn_no{

}
.btns{
    margin-top: 10px;
}
.btns button{
    background-color: #f7ce5c;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
    color: #ffffff;
}

.right_content .src_result{
    border: 1px solid gray;
    margin-top: 5px;
    background-color: #212429;
    font-size: smaller;
    text-align: left;
    padding-left: 5px;
    color: #84fafa;
}

.ext_bottom ul li{
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.ext_bottom ul li a{
    color: #ffffff;
}

.ext_bottom{
    padding-bottom: 7px;
    padding-top: 7px;
}

.ext_bottom ul li:last-child{
    border-right: none !important;
}

.ext_bottom ul li{
    border-right: 1px solid #f7ce5c;
}

.ext_header{
    height: 25px;
    background-color: #000000;
    text-align: center;
    font-size: smaller;
}

.cust_icon{
    height: 17px;
    width: 17px;
    position: relative;
    top: 3px;
    left: 0px;

}
span.state span{
    display: none;
}

span.state:hover span{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100000000;
    background-color: #212429;
    left: 45px;
    width: 250px;
    position: relative;
    top: -20px;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

p.st{
    margin-top: 20px;
}

.ext_version{
    color: darkgray;
}



