.ext_tmp{
    width: 50%;
    height: 100px;
    background-color: #cccccc;
}

.extension{

    background-color: #212429;
    color: #ffffff;
    height: 100px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
;
}

#start_visits{
    margin-right: 15px;
}

.status:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1100ms infinite;
    animation: ellipsis steps(4,end) 1100ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.5em;
    }
}

#overlay {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 10000;
    background-color: rgba(224,224,224, .8)

}



.ext_content{
    padding: 10px 30px 10px 30px;
}

.cont_right{
    height: 80px;
    width: 100%;
    background-color: #363636;
    float: right;
    text-align: center;
}

.right_content{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.right_content h2{
    font-size: medium;
}

.btn_yes{
    margin-right: 10px;
}

.btn_no{

}
.btns{
    margin-top: 10px;
}
.btns button{
    background-color: #f7ce5c;
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
    color: #ffffff;
}

.right_content .src_result{
    border: 1px solid gray;
    margin-top: 5px;
    background-color: #212429;
    font-size: smaller;
    text-align: left;
    padding-left: 5px;
    color: #84fafa;
}

.ext_bottom ul li{
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.ext_bottom ul li a{
    color: #ffffff;
}

.ext_bottom{
    padding-bottom: 7px;
    padding-top: 7px;
}

.ext_bottom ul li:last-child{
    border-right: none !important;
}

.ext_bottom ul li{
    border-right: 1px solid #f7ce5c;
}

.ext_header{
    height: 25px;
    background-color: #000000;
    text-align: center;
    font-size: smaller;
}

.cust_icon{
    height: 17px;
    width: 17px;
    position: relative;
    top: 3px;
    left: 0px;

}
span.state .report{
    display: none;
}
.rep_el{
    display: block;
    margin-left: 30px;
}
span.state:hover .report{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100000000;
    background-color: #212429;
    left: 45px;
    width: 400px;
    position: relative;
    top: -20px;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

p.st{
    margin-top: 20px;
}

.ext_version{
    color: darkgray;
}

.src_result ul{
    display: inline-block;
    margin-right: 50px;
}



